:root {
  --primary-color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --border-radius: 0.4em;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --skills-bar-lenght:0%;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: sans-serif;
}

body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.flags{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flags__item{
  width: 30px;
}

.flags__img{
  cursor: pointer;
  display: block;
}

.toggle-theme__icon {
  margin-right: 0.5rem;
  width: 20px;
}

.toggle-theme__text {
  font-size: 0.8rem;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100px;
}

.colors__item {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.colors__item--blue {
  --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green {
  --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
  --primary-color: hsl(276, 84%, 56%);
}

.colors__item--orange {
  --primary-color: hsl(46, 84%, 56%);
}

.main {
  display: grid;
  padding: 2em;
  gap: .5em;
}

@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content 1fr;
  }
}

.column {
  display: grid;
  gap: 0.5em;
}

@media screen and (min-width: 720px) {
  .column--right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    align-items: start;
  }
}

.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.card__image-container {
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__header {
  padding: 1em 0;
}

.card__title {
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.card__subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}

.card__link {
  margin-bottom: 0.5em;
}

.card__text {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 760px){
  
  .card--project{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column: 1 / -1;
  }

}
/*  
Final de estilos para las tarjetas

Comienzo de estilo para las habilidades
*/
.skills {
  padding: 1em 0;
}

.skills__header{
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-left: auto;
}

.skills__tech{
  margin: 0;
  font-size: 0.8rem;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5em;
}

.skills__bar,
.skills__bar::after{
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.skills__bar::after {
  content: "";
  position: absolute;
  left: -175px;
  background-color: var(--primary-color);
  transition: var(--transition);
  animation: skills-bar-fill 2s ease-in-out forwards; 
}

.skills__bar--10::after{
  --skills-bar-lenght:10%;
}

.skills__bar--20::after{
  --skills-bar-lenght:20%;
}

.skills__bar--30::after{
  --skills-bar-lenght:30%;
}

.skills__bar--40::after{
  --skills-bar-lenght:40%;
}

.skills__bar--50::after{
  --skills-bar-lenght:50%;
}

.skills__bar--60::after{
  --skills-bar-lenght:60%;
}

.skills__bar--70::after{
  --skills-bar-lenght:70%;
}

.skills__bar--80::after{
  --skills-bar-lenght:80%;
}

.skills__bar--90::after{
  --skills-bar-lenght:90%;
}
/*  
Final de estilos para las habilidades

Comienzo de estilo para las experiencias
*/
.experience{
  display:flex;
  align-items: start;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.experience__image{
  width: 15%;
  margin-right: 1em;
}

.experience__time{
  font-size: .8rem;
  margin-bottom: .5em;
}

.experience__job{
  margin: 0;
  margin-bottom: .5em;
  color: var(--primary-color);
  transition: var(--transition);
}

.experience__description{
  font-size: .8rem;
  margin-bottom: 1.5em;
}
/*  
Final de estilos para las experiencias

Comienzo de estilo para los projectos
*/
.project{
  position: relative;
}

@media screen and (min-width: 760px){
  
  .project{
    margin-left: 2em;
  }
  
}

.project__tags{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  font-size: .6rem;
  width: 275px;
}

@media screen and (min-width: 760px){
  
  .project__tags{
    width: 325px;
    font-size: 0.8rem;
  }
  
}

.project__tag{
  padding: .4em .8em;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--bg-color);
}
/*  
Final de estilos para los projectos

Comienzo de estilo los botones
*/
.buttons{
  display: flex;
  justify-content: space-between;
  width: 225px;
}

@media screen and (min-width: 760px){
  .buttons{
    position: absolute;
    bottom: 1em;
  }
}

.button{
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.button--primary{
  background-color: var(--primary-color);
  color: var(--bg-color);
  
}

.button--ghost{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.icon {
  margin-right: 1em;
}

.no-margin{
  margin: 0;
}

@keyframes skills-bar-fill {
  to{
    transform: translateX(var(--skills-bar-lenght));
  }
}